<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

</head>

<body>
 <div class="row">
     <div class="row">

         <div class="col-md-2"></div>
     <div class="col-md-8 pb-3 pt-3">
         <strong class="text-white" id="lblUsername">   </strong>  </div>
     </div>
     <div id="dvHistorial" class="col-md-2 pb-3 pt-3" >  <a href="history">HISTORIAL </a> </div>

    <div class="col-md-12 col-sm-12">
        <div class="center_div">
    <div class="form-group">

	<h1>Predictor de placa</h1>

     <!-- Main Input For Receiving Query to our ML -->
    	<input  id="video" type="file" name="video" placeholder="Video" accept="video/*" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large" onclick="predict()">Analizar</button>

   <br>
   <br>
     <div id="resultadoPlaca">
     </div>
        <br></div>
            </div>
 </div>
     <div class="col-md-12 text-center">
        <div id="resultadoImg">

        </div>
     </div>
 </div>
 </div>

<script>
    window.onload = function () {
        if (localStorage.getItem("token") == null) {
            document.getElementById("dvHistorial").style.display = "none"
            window.location.replace('login')

        } else {
           document.getElementById("lblUsername").textContent = "HOLA " + localStorage.getItem("email");

        }
    }
    function predict(){
        var dvResultadoImg = document.getElementById("resultadoImg");
        if(dvResultadoImg.hasChildNodes()){
            dvResultadoImg.removeChild(dvResultadoImg.childNodes[0]);
        }

        var dvResultadoPlaca= document.getElementById("resultadoPlaca");
        if(dvResultadoPlaca.hasChildNodes()){
            dvResultadoPlaca.removeChild(dvResultadoPlaca.childNodes[0]);
        }
        const formData = new FormData()
        formData.append('video', document.getElementById('video').files[0])

     fetch(`${window.origin}/predict`, {
      method: "POST",
      body: formData,
       headers: new Headers({
        "Authorization": "Bearer " + localStorage.getItem("token")
      })
    })
      .then(function (response) {
        if (response.status !== 200) {
          console.log(`Looks like there was a problem. Status code: ${response.status}`);
          if(response.status == 401){
             window.location.replace('login')
          }
          else if(response.status == 400){
              alert("Sucedió un error. Intente de nuevo con otro video");
          }
          return;
        }
        response.json().then(function (data) {
          console.log(data)
          var text = document.createElement("h4");
          text.setAttribute("class", "text-white text-center")
          text.textContent = data.placa
          document.getElementById("resultadoPlaca").appendChild(text);

          var img = document.createElement("img");
          img.setAttribute("src", "data:image/png;base64,"+ data.img);
          img.setAttribute("height", "400");
          img.setAttribute("width", "700");
          img.setAttribute("alt", "Resultado");
          document.getElementById("resultadoImg").appendChild(img);
        });
      })
      .catch(function (error) {
        console.log("Fetch error: " + error);
      });


}
</script>

</body>
</html>
