# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Consiltor2015\Documents\DIPLOMADO IA\DS\ProyectoFinal\flask modelo\DeployMLModel-Flask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
